<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>

<body>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/train">Train</a>
    <h1>Select a file to upload & Train</h1>
    <p>
    <h4>{{ obj }}</h4>
    </p>
    <form method="post" action="/face" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file1" autocomplete="off" required>                
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
        <p>

        </p>
    </form>



</body>


</html>